<html xmlns:th="http://www.thymeleaf.org">
<body>
<h3 style="text-align: center; color: green">
    <span th:text="${header}"></span>
</h3>
<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th>Tour_Description</th>
        <th>From</th>
        <th>To</th>
        <th>Transport_Type</th>
        <th>Tour_Distance</th>
        <th>Estimated_Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${tours.isEmpty()}">
        <td colspan="2"> No Books Available </td>
    </tr>
    <tr th:each="tour : ${tours}">
        <th><span th:text="${tour.id}"></span></th>
        <th><span th:text="${tour.name}"></span></th>
        <th><span th:text="${tour.tourDescription}"></span></th>
        <th><span th:text="${tour.from}"></span></th>
        <th><span th:text="${tour.to}"></span></th>
        <th><span th:text="${tour.transportType}"></span></th>
        <th><span th:text="${tour.distance}"></span></th>
        <th><span th:text="${tour.time}"></span></th>
    </tr>
    </tbody>
</table>
</body>
</html>